{% extends "partials/layout.html" %}
        
        {% set pageId = "page-create-point" %}
        {% block pagetitle %}
        <title>Criar um ponto de coleta</title>
        {% endblock pagetitle %}

        {% block css %}
        <link rel="stylesheet" href="css/create-point.css">
        <link rel="stylesheet" href="css/modal.css">
        {% endblock css %}

        {% block content %}
                {% include "partials/page-header.html" %}

                <!-- Form Area -->
                <form action="/savepoint" method="POST">
                    <!-- Title -->
                    <h1>Cadastro do ponto de coleta</h1>

                    <!-- Entity Data -->
                    <fieldset>
                        <legend>
                            <h2>Dados da entidade</h2>
                        </legend>

                        <!-- Field  1 -->
                        <div class="field-group">
                            <div class="field">
                                <label for="name">Nome da entidade</label>
                                <input type="text" name="name" required placeholder="Digite o nome da entidade">
                            </div><!--field-->
                        
                        <!-- Image Field (2) -->
                            <div class="field">
                                <label for="name">Imagem da entidade</label>
                                <input type="url" name="image" required placeholder="Insira uma URL">
                            </div><!--field-->

                        </div><!--field-group--

                        <!-- Group Of Fields (1) -->
                        <div class="field-group">

                            <!-- Field 3 -->
                            <div class="field">
                                <label for="address">Endereço</label>
                                <input type="text" name="address" required placeholder="Nome da rua, nome do bairro">
                            </div><!--field-->

                            <!-- Field 4 -->
                            <div class="field">
                                <label for="address2">Número/Complemento</label>
                                <input type="text" name="adress2" required placeholder="N° 123">
                            </div><!--field-->

                        </div><!--field-group-->

                        <!-- Group Of Fields (2) -->
                        <div class="field-group">

                            <!-- Field 5 -->
                            <div class="field">
                                <label for="state">Estado</label>
                                <select name="uf" required>
                                    <option value="">Selecione o Estado</option>
                                </select>
                                <input type="hidden" name="state">
                            </div><!--field-->

                            <!-- Field 6 -->
                            <div class="field">
                                <label for="city">Cidade</label>
                                <select name="city" disabled required>
                                    <option value="">Selecione a Cidade</option>
                                </select>
                            </div><!--field-->

                        </div><!--field-group-->
                    </fieldset>

                    <!-- Coleta Items -->
                    <fieldset>
                        <legend>
                            <h2>Itens de coleta</h2>
                            <span>Selecione um ou mais itens abaixo</span>
                        </legend>

                        <!-- Image Select -->
                        <div class="items-grid">

                            <!-- Item 1 - Lâmpadas -->
                            <li data-id="Lâmpadas">
                                <img src="/assets/lampadas.svg" alt="Lâmpadas">
                                <span>Lâmpadas</span>
                            </li>

                            <!-- Item 2 - Pilhas e Baterias -->
                            <li data-id="Pilhas e Baterias">
                                <img src="/assets/baterias.svg" alt="Pilhas e Baterias">
                                <span>Pilhas e Baterias</span>
                            </li>

                            <!-- Item 3 - Papéis e Papelão -->
                            <li data-id="Papéis e Papelão">
                                <img src="/assets/papeis-papelao.svg" alt="Papéis e Papelão">
                                <span>Papéis e Papelão</span>
                            </li>

                            <!-- Item 4 - Resíduos Eletrônicos -->
                            <li data-id="Resíduos Eletrônicos">
                                <img src="/assets/eletronicos.svg" alt="Resíduos Eletrônicos">
                                <span>Resíduos Eletrônicos</span>
                            </li>

                            <!-- Item 5 - Resíduos Orgânicos -->
                            <li data-id="Resíduos Orgânicos">
                                <img src="/assets/organicos.svg" alt="Resíduos Orgânicos">
                                <span>Resíduos Orgânicos</span>
                            </li>

                            <!-- Item 6 - Óleo de Cozinha -->
                            <li data-id="Óleo de Cozinha">
                                <img src="/assets/oleo.svg" alt="Óleo de Cozinha">
                                <span>Óleo de Cozinha</span>
                            </li>
                        </div>

                        <input type="hidden" name="items">

                    </fieldset>

                    <button type="submit">Cadastrar ponto de coleta</button>
                </form>
        {% endblock content %}

        {% block modal %}
            {% if saved %}
                {% include "partials/point-created.html" %}
            {% endif %}
        {% endblock modal %}

        
        {% block scripts %}
        <!-- Javascript -->
        <script src="/js/create-point.js"></script>
        {% endblock scripts %}